.container {
  text-align: center;
  padding: 20px;

  h1 {
    margin-bottom: 10px;
    font-size: 2rem;
  }

  .controls,
  .actions {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;

    select,
    button {
      font-size: 1rem;
      padding: 6px 10px;
    }
  }

  .status {
    margin: 10px 0;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 20px;

    .message {
      color: #4a90e2;
    }
  }

  .loading {
    margin: 20px 0;
    font-size: 1.2rem;
  }

  .multiplayer {
    margin: 10px 0;
    .players {
      display: flex;
      justify-content: center;
      gap: 130px;

      div.active {
        font-weight: bold;
      }
    }

    .turn {
      margin-top: 5px;
      font-style: italic;
    }
  }
}
